* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 15px 20px;
  font-size: 30px;
}

.component-window {
  display: flex;
  height: 90%;
  margin: 20px;
  gap: 20px;
}

.loading-screen,
.error-screen {
  margin: auto;
}

.store-window,
.cart-window,
.auth-window,
.login-window,
.signUp-window {
  background-color: rgba(128, 128, 128, 0.4);
  border-radius: 16px;
  padding: 7px 12px;
}

.store-window {
  width: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.category-item-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 450px));
  gap: 10px;
  justify-content: center;
}

.item-image {
  width: 100%;
}

.item-price {
  margin-right: 10px;
}

.item-quantity {
  margin-left: 10px;
}

.cart-window {
  width: 300px;
}

.auth-window {
  position: fixed;
  top: 40%;
  left: 40%;
  width: 300px;
  background-color: black;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  width: 100%;
}

input[type='radio'] {
  width: initial;
}

label[for='password'] {
  position: relative;
}

.passwordEyeIcon {
  position: absolute;
  top: 3px;
  right: 5px;
  color: black;
}

.error-message {
  color: red;
  font-size: 15px;
  padding: 5px;
}