* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 15px 20px;
  font-size: 30px;
}

.hidden {
  display: none;
}

.header-search-button,
.header-sort-button,
.header-auth-button,
.header-cart-button,
.clear-cart-icon,
.item-info-icon,
.caret-right,
.caret-down,
.fa-xmark,
.passwordEyeIcon {
  cursor: pointer;
}

.header-search-button,
.header-sort-button {
  position: relative;
}

.header-search-wrapper,
.header-sort-options-wrapper {
  display: none;
  background-color: rgb(128, 128, 128);
  border-radius: 8px;
  z-index: 10;
}

.header-search-wrapper.displayed,
.header-sort-options-wrapper.displayed {
  display: flex;
  position: absolute;
}

.header-search-button .fa-xmark {
  width: 30px;
}

.header-search-wrapper {
  width: 260px;
  padding: 10px;
  left: -100px;
}

.header-sort-options-wrapper {
  height: 70px;
  padding: 10px;
  left: -50px;
}

.header-sort-options-wrapper button {
  height: 100%;
  font-size: 28px;
}

.header-sort-options-wrapper button:nth-of-type(1) {
  margin-right: 10px;
}

.header-sort-options-wrapper button:nth-of-type(2) {
  margin-left: 10px;
}

.header-cart-button span {
  margin-left: 5px;
}

.component-window {
  display: flex;
  height: 86%;
  margin: 20px;
  gap: 20px;
}

.loading-screen,
.error-screen {
  margin: auto;
}

.store-window,
.cart-display,
.login-window,
.signUp-window,
.logout-window,
.shipping-display,
.payment-display,
.confirm-display,
.item-display {
  background-color: rgba(128, 128, 128, 0.4);
  border-radius: 16px;
  padding: 7px 12px;
}

.store-window {
  width: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: 1s linear;
}

.category-item-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  gap: 10px;
  justify-content: center;
}

.item-card {
  position: relative;
  border-radius: 8px;
}

.item-card:hover {
  box-shadow: 0px 0px 0px 4px white;
}

.item-image {
  width: 100%;
}

.item-info-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}

.item-info-wrapper.displayed {
  display: initial;
}

.item-info-wrapper h3 {
  margin: 8px 0 0;
  position: relative;
}

.item-info-icon {
  position: absolute;
  top: 10px;
  right: 16px;
  font-size: 28px;
}

.item-info-wrapper p {
  margin: 8px 0;
}

.item-price {
  margin-right: 10px;
}

.item-quantity {
  margin-left: 10px;
}

.add-to-cart-button {
  font-size: 20px;
  font-weight: 700;
}

.auth-pane,
.cart-pane,
.shipping-pane,
.payment-pane,
.confirm-pane,
.item-pane {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-details-image {
  width: 100%;
}

.auth-window,
.cart-window,
.shipping-window,
.payment-window,
.confirm-window,
.item-window {
  background-color: black;
  border-radius: 16px;
  padding: 7px 12px;
  width: 300px;
  position: relative;
}

.cart-window {
  margin-left: auto;
}

.cart-title {
  position: relative;
}

.clear-cart-icon {
  position: absolute;
  right: 46px;
  top: 26px;
  font-size: 22px;
}

.cart-display {
  height: 50vh;
  border-radius: 16px;
  margin-top: 5px;
  overflow: scroll;
}

.cart-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  margin-bottom: 15px;
  border-bottom: 1px solid white;
}

.cart-item:nth-of-type(1) {
  margin-top: 10px;
}

.caret-right,
.caret-down {
  font-size: 24px;
}

.cart-item-quantity-controls {
  font-size: 24px;
  flex-basis: 100%;
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 6px 0 0 60px;
}

.cart-item-quantity-controls.hidden {
  display: none;
}

.cart-item-quantity-button {
  height: 30px;
}

.cart-total-wrapper {
  display: grid;
  grid-template-areas:
    "qty st st"
    "qty tax tax"
    "qty total total";
}

.total-cart-quantity {
  grid-area: qty;
}

.cart-subtotal {
  grid-area: st;
}

.cart-tax {
  grid-area: tax;
}

.cart-total {
  grid-area: total;
}

.auth-window-switcher {
  margin-bottom: 5px;
}

.auth-window-switcher label {
  margin: 0 10px;
}

form {
  display: flex;
  flex-direction: column;
}

input[type='radio'] {
  width: initial;
  height: initial;
}

label[for='password'] {
  position: relative;
}

label h3 {
  display: inline-block;
}

input,
select,
button {
  width: 100%;
  height: 40px;
  border-radius: 8px;
}

button,
input[type="submit"] {
  background-color: lightblue;
  border: 2px solid green
}

button:hover,
input[type="submit"]:hover {
  box-shadow: 0px 0px 0px 4px black;
}

.passwordEyeIcon {
  position: absolute;
  top: 3px;
  right: 5px;
  color: black;
  font-size: 32px;
}

label[for='cardNumber'] {
  position: relative;
}

.payment-window-card-image {
  position: absolute;
  top: -5px;
  left: 190px;
  width: 50px;
  height: 33px;
}

.error-message {
  color: red;
  font-size: 15px;
  padding: 5px;
}

.confirm-window-check-mark-icon {
  font-size: 60px;
  color: green;
}

/* To attempt to keep iOS devices from auto-zooming on form fields. */
@supports (-webkit-overflow-scrolling: touch) {

  input,
  select,
  button {
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  .component-window {
    height: 78%;
  }
}